
 <footer>
    <div class="container">
      <p>&copy; {{ site.dob }} - {{ site.time | date: '%Y' }}. {{ site.company }} | KvK nr. {{ site.coc-number }} - alle rechten voorbehouden ({{ site.time | in_time_zone: site.timezone |  slice: 0, 16 | base64_encode}}).</p>
      <br>
      <a href="contact.html" title="Contact" style="text-decoration: none;">
      <i class="fa-regular fa-address-card fa-2x"></i>
      </a>
    &nbsp;
      <a href="{{ site.linkedinurl }}" target="_blank" rel="noopener noreferrer" title="LinkedIn">
      <i class="fa-brands fa-linkedin fa-2x"></i>
    </a>
    </div>
  </footer>
