<header>
     <script>
    function fTopnav() {
      var x = document.getElementById("myTopNav");
      if (x.className == "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
    <!-- navigation container -->
    <div class="container">
      <a href="{{ site.deployurl }}" class="active">
      <img height = "110px" class="logo" src="assets/images/init_power_logo.jpeg" alt="{{ site.welcome-alt }}">
      </a>
      <div class="topnav" id="myTopNav">
        <a href="javascript:void(0);" class="icon" onclick="fTopnav()"><i class="fa fa-bars fa-2x"></i>&nbsp; Menu</a>
        {% for item in site.data.nav %}
          {% if item.hidden != true %}
            {%if item.link == page.name %}
              <a href="{{item.link}}" class="active">{{item.name}}&nbsp;</a>
            {% else %}
              <a href="{{item.link}}">{{item.name}}&nbsp;</a>
            {% endif %}
          {% endif %}
        {% endfor %}
           
      </div>
    </div>
  </header>
